In [ ]:
import numpy as np
import pandas as pd
import apyori
from apyori import apriori
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
data = pd.read_excel('/content/apriori4.xlsx')
#ma'am this file is one-hot encoded version of ex 5.4.2 on pg(5-8) of techneo book
data #complete data is shown

   A  B  C  D  E  K
0  1  1  0  1  0  1
1  1  1  1  1  1  0
2  1  1  1  0  1  0
3  1  1  0  1  0  0

In [ ]:
frq_items = apriori(data,min_support=0.6,use_colnames=True)#apriori takes only one hot encoding
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.80)

In [ ]:
print(rules)
#antecedents to consequents is the relationships

  antecedents consequents  antecedent support  consequent support  support  \
0         (A)         (B)                1.00                 1.0     1.00
1         (B)         (A)                1.00                 1.0     1.00
2         (D)         (A)                0.75                 1.0     0.75
3         (D)         (B)                0.75                 1.0     0.75
4      (D, A)         (B)                0.75                 1.0     0.75
5      (D, B)         (A)                0.75                 1.0     0.75
6         (D)      (A, B)                0.75                 1.0     0.75

   confidence  lift  leverage  conviction
0         1.0   1.0       0.0         inf
1         1.0   1.0       0.0         inf
2         1.0   1.0       0.0         inf
3         1.0   1.0       0.0         inf
4         1.0   1.0       0.0         inf
5         1.0   1.0       0.0         inf
6         1.0   1.0       0.0         inf